extends ../layout/main

block title
	| MiNi

block content
	include ../sections/banner.pug
	include ../sections/about.pug
	include ../sections/quote.pug
	include ../sections/team.pug
	include ../sections/facts.pug
	include ../sections/services.pug
	include ../sections/testimonial.pug
	include ../sections/portfolio.pug
	include ../sections/blog.pug
	include ../sections/clients.pug
	include ../sections/contact.pug
	section#map
