section.about.section
	.wrapper
		.heading
			h2 About
			p
				| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
		.about-wrap
			.about-wrap-content
				.about-wrap-content__icon
					span.icon-bulb
				.about-wrap-content__text
					h6 Our Story
					p.about-text
						| Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
					p
						| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
						| Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			.about-wrap-img
				img(src="https://unsplash.it/450/254/?image=882" alt="")
				span.about-wrap-img__icon
					span.icon-photo
		.hr
		.box-skills
			.box-skills__item.box-skills__item--img
				img(src="img/website.png" alt="")
			.box-skills__item.box-skills__item--content
				.about-wrap-content
					.about-wrap-content__icon
						span.icon-params
					.about-wrap-content__text
						h6 Our Skills
						p
							| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
				.box-bars
					.bars
						.bars__title
							| Design 
							span /
							span.procent 88%
						.bars-line
							div(style="width: 88%;")
					.bars
						.bars__title
							| Development 
							span /
							span.procent 76%
						.bars-line
							div(style="width: 76%;")
					.bars
						.bars__title
							| WordPress 
							span /
							span.procent 81%
						.bars-line
							div(style="width: 81%;")
					.bars
						.bars__title
							| Drupal 
							span /
							span.procent 71%
						.bars-line
							div(style="width: 71%;")
