section.banner
	.wrapper
		.banner-slider
			div
				h1
					| Best Creative Studio
					span.lg Design / Branding / WordPres
					span.sm We Make Great Ideas Happen
				a.btn(href="#") Learn More
			div
				h1
					| Best Creative Studio 2
					span.lg Design / Branding / WordPres
					span.sm We Make Great Ideas Happen
				a.btn(href="#") Learn More
			div
				h1
					| Best Creative Studio 3
					span.lg Design / Branding / WordPres
					span.sm We Make Great Ideas Happen
				a.btn(href="#") Learn More