section.section-bg.tweet
	.wrapper
		.tweet-wrap
			.tweet-wrap__icon
				img(src="img/twitter.png" alt="")
			p.tweet-wrap__text
				| Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
				br
				|  nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
				a(href="ow.ly/ttlwd") ow.ly/ttlwd
			span.tweet-wrap__time 3 hours ago
section.section.blog
	.wrapper
		.heading
			h2 Blog
			p
				| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
		.blog-list
			.blog-list__item
				.blog-list__img
					a.blog-list__link(href="#")
					span.icon-photo
					.blog-list__header
						span.blog-list__icon
							span.icon-slideshow
						h6.blog-list__title Awesome Blog Post Title Goes Here
				.blog-list__footer
					.blog-list__date
						span 21 Feb ‘14
						span John Doe
						span 24 Comments
					.blog-list__info
						p
							| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						a.btn.btn--warning(href="#") Read On
			.blog-list__item
				.blog-list__img
					a.blog-list__link(href="#")
					span.icon-photo
					.blog-list__header
						span.blog-list__icon
							span.icon-slideshow
						h6.blog-list__title Awesome Blog Post Title Goes Here
				.blog-list__footer
					.blog-list__date
						span 21 Feb ‘14
						span John Doe
						span 24 Comments
					.blog-list__info
						p
							| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						a.btn.btn--warning(href="#") Read On
			.blog-list__item
				.blog-list__img
					a.blog-list__link(href="#")
					span.icon-photo
					.blog-list__header
						span.blog-list__icon
							span.icon-film
						h6.blog-list__title Awesome Blog Post Title Goes Here
				.blog-list__footer
					.blog-list__date
						span 21 Feb ‘14
						span John Doe
						span 24 Comments
					.blog-list__info
						p
							| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						a.btn.btn--warning(href="#") Read On
			.blog-list__item
				.blog-list__img
					a.blog-list__link(href="#")
					span.icon-photo
					.blog-list__header
						span.blog-list__icon
							span.icon-handset
						h6.blog-list__title Awesome Blog Post Title Goes Here
				.blog-list__footer
					.blog-list__date
						span 21 Feb ‘14
						span John Doe
						span 24 Comments
					.blog-list__info
						p
							| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						a.btn.btn--warning(href="#") Read On
