section.section-bg.clients
	.wrapper
		h2 Our Clients
		ul.clients-list
			li.clients-list__item
				a(href="#")
					img(src="img/clients-logo1.png" alt="")
			li.clients-list__item
				a(href="#")
					img(src="img/clients-logo2.png" alt="")
			li.clients-list__item
				a(href="#")
					img(src="img/clients-logo3.png" alt="")
			li.clients-list__item
				a(href="#")
					img(src="img/clients-logo4.png" alt="")
