section.section.contact
	.wrapper
		.heading
			h2 Contact
			p
				| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
		.contact-wrap
			.contact-wrap__left
				h6 Drop Us A Message
				.contact-form
					form(action="#")
						.form-field
							input.form-control(type="text" placeholder="Mike")
							span.form-field__icon
								span.icon-user2
						.form-field
							input.form-control(type="email" placeholder="Email")
							span.form-field__icon
								span.icon-mail
						.form-field
							textarea.form-control(placeholder="Message")
							span.form-field__icon
								span.icon-pen
						input.btn.btn--warning.btn--sm(type="submit" value="submit")
			.contact-wrap__right
				h6 Contact Info
				p
					| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat
				ul.contact-list
					li.contact-list__item
						span.contact-list__icon
							i.fa.fa-map-marker(aria-hidden="true")
						span 13/2 Elizabeth St, Melbourne VIC 3000, Australia
					li.contact-list__item
						span.contact-list__icon
							i.fa.fa-phone(aria-hidden="true")
						a(href="tel:6131468728") +61 3146 8728
						| , 
						a(href="tel:6109876543") +61 0987 6543
					li.contact-list__item
						span.contact-list__icon
							i.fa.fa-envelope(aria-hidden="true")
						a(href="mailto:support@envato.net") support@envato.net
