section.section-bg
	.wrapper
		.facts-list
			.facts-list__item
				.facts-list__icon
					span.icon-cup
				h5
					span 6K+
					| Coffees
			.facts-list__item
				.facts-list__icon
					span.icon-stack
				h5
					span 743
					| Projects
			.facts-list__item
				.facts-list__icon
					span.icon-user2
				h5
					span 435
					| Clients
			.facts-list__item
				.facts-list__icon
					span.icon-like
				h5
					span 225
					| Awards
