section.portfolio.section
	.wrapper
		.heading
			h2 portfolio
			p
				| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
		.box-portfolio-slider
			.portfolio-slider
				div
					a(href="#")
						img(src="https://unsplash.it/1170/580/?image=1083" alt="")
				div
					a(href="#")
						img(src="https://unsplash.it/1170/580/?image=1082" alt="")
				div
					a(href="#")
						img(src="https://unsplash.it/1170/580/?image=882" alt="")
			.portfolio-slider__buttons
			.portfolio-slider__footer
				.portfolio-list__title project Title Here
				.portfolio-list__category Graphics
		.hr
		.tab-wrap
			ul.nav-tab-list.tabs
				li.nav-tab-list__item.active
					a.nav-tab-list__link(href="#tab_1") All Work
				li.nav-tab-list__item
					a.nav-tab-list__link(href="#tab_2") Graphics
				li.nav-tab-list__item
					a.nav-tab-list__link(href="#tab_3") WebDesign
				li.nav-tab-list__item
					a.nav-tab-list__link(href="#tab_4") Branding
				li.nav-tab-list__item
					a.nav-tab-list__link(href="#tab_5") Video
				li.nav-tab-list__item
					a.nav-tab-list__link(href="#tab_6") Photography
			.box-tab-cont
				#tab_1.tab-cont
					.portfolio-list
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
						.portfolio-list__item
							a.portfolio-list__link(href="#")
							.portfolio-list__img
								span.icon-photo
								a.portfolio-list__preview(href="#")
							.portfolio-list__footer
								.portfolio-list__title project Title Here
								.portfolio-list__category Graphics
				#tab_2.tab-cont.hide .2..
				#tab_3.tab-cont.hide .3..
				#tab_4.tab-cont.hide .4..
				#tab_5.tab-cont.hide .5..
				#tab_6.tab-cont.hide .6..