section.service.section
	.wrapper
		.heading
			h2 Service
			p
				| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
		.service-list
			.service-list__item
				.service-list__icon
					span.icon-star
				h6 Designing
				p
					| Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
			.service-list__item
				.service-list__icon
					span.icon-lab
				h6 Developing
				p
					| Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
			.service-list__item
				.service-list__icon
					span.icon-world
				h6 Branding
				p
					| Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
		.hr
		.box-pricing
			.service-list__item
				.service-list__icon
					span.icon-banknote
				h6 Packege Pricing
				p
					| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
			.pricing
				.pricing__item
					.pricing-header
						span.pricing-header__title
							| Basic 
							span $35
					ul.pricing-list
						li First Description
						li Second Description
						li Third Description
						li Fourth Description
					.pricing-footer
						a.btn.btn--warning(href="#") Purchase
				.pricing__item.active
					.pricing-header
						span.pricing-header__title
							| Gold 
							span $99
					ul.pricing-list
						li First Description
						li Second Description
						li Third Description
						li Fourth Description
					.pricing-footer
						a.btn.btn--warning(href="#") Purchase
				.pricing__item
					.pricing-header
						span.pricing-header__title
							| Silver 
							span $65
					ul.pricing-list
						li First Description
						li Second Description
						li Third Description
						li Fourth Description
					.pricing-footer
						a.btn.btn--warning(href="#") Purchase
