section.box-team.section
	.wrapper
		.heading
			h2 Team
			p
				| Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
		.team-list
			.team-list__item
				.team-list__img
					img(src="img/lady.png" alt="")
				h6 john Doe
				span.team-list__job Founder
				p
					| Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. lit. Nam nec tellus a odio tincidunt auctor a ornare odio.
				.social
					a.social__link(href="#")
						i.fa.fa-twitter(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-facebook(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-dribbble(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-google-plus(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-linkedin(aria-hidden="true")
			.team-list__item
				.team-list__img
					img(src="img/lady.png" alt="")
				h6 Jesmine Doe
				span.team-list__job Designer
				p
					| Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
				.social
					a.social__link(href="#")
						i.fa.fa-twitter(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-facebook(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-dribbble(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-google-plus(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-linkedin(aria-hidden="true")
			.team-list__item
				.team-list__img
					img(src="img/lady.png" alt="")
				h6 Martin Doe
				span.team-list__job Developer
				p
					| Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
				.social
					a.social__link(href="#")
						i.fa.fa-twitter(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-facebook(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-dribbble(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-google-plus(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-linkedin(aria-hidden="true")
			.team-list__item
				.team-list__img
					img(src="img/lady.png" alt="")
				h6 Anthony Doe
				span.team-list__job Photographer
				p
					| Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
				.social
					a.social__link(href="#")
						i.fa.fa-twitter(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-facebook(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-dribbble(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-google-plus(aria-hidden="true")
					a.social__link(href="#")
						i.fa.fa-linkedin(aria-hidden="true")
