section.section-bg
	.wrapper
		.testimonial-slider
			div
				.testimonial
					span.quote__author John Maeda
					p.testimonial__text
						| “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.”
					.testimonial__avatar
						img(src="img/lady.png" alt="")
			div
				.testimonial
					span.quote__author John Maeda
					p.testimonial__text
						| “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.”
					.testimonial__avatar
						img(src="img/lady.png" alt="")
			div
				.testimonial
					span.quote__author John Maeda
					p.testimonial__text
						| “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.”
					.testimonial__avatar
						img(src="img/lady.png" alt="")
