footer.footer
	.wrapper.footer-flex
		p.copyright © MINI 2017, All Right Reserves  |  Designed By bigpsfan & Metrothemes
		.social
			a.social__link(href="#")
				i.fa.fa-twitter(aria-hidden="true")
			a.social__link(href="#")
				i.fa.fa-facebook(aria-hidden="true")
			a.social__link(href="#")
				i.fa.fa-dribbble(aria-hidden="true")
			a.social__link(href="#")
				i.fa.fa-google-plus(aria-hidden="true")
			a.social__link(href="#")
				i.fa.fa-linkedin(aria-hidden="true")
			a.social__link(href="#")
				i.fa.fa-google-plus(aria-hidden="true")
			a.social__link(href="#")
				i.fa.fa-linkedin(aria-hidden="true")
