header
	.wrapper
		.header-wrap
			.logo
				a(href="#") Mini
			nav.navigation
				ul.menu
					li.menu__item
						a.menu__link(href="#") About
					li.menu__item
						a.menu__link(href="#") Team
					li.menu__item
						a.menu__link(href="#") Services
					li.menu__item
						a.menu__link(href="#") Works
					li.menu__item
						a.menu__link(href="#") Blog
					li.menu__item
						a.menu__link(href="#") Contact
